<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="icon" href="images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div  class="main-content">
        {{>headers}}
        <img src="/images/HarshGupta.jpg" alt="Harsh Gupta Pic">
    </div>    
    {{>footer}}
</body>
</html>